@page
@model wtamucis3312final.Pages.NationalParks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NationalPark</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NationalPark.ParkName" class="control-label"></label>
                <input asp-for="NationalPark.ParkName" class="form-control" />
                <span asp-validation-for="NationalPark.ParkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalPark.ParkState" class="control-label"></label>
                <input asp-for="NationalPark.ParkState" class="form-control" />
                <span asp-validation-for="NationalPark.ParkState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalPark.ParkAbbreviation" class="control-label"></label>
                <input asp-for="NationalPark.ParkAbbreviation" class="form-control" />
                @* <span asp-validation-for="NationalPark.ParkAbbreviation" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="NationalPark.ParkProperName" class="control-label"></label>
                <input asp-for="NationalPark.ParkProperName" class="form-control" />
                <span asp-validation-for="NationalPark.ParkProperName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
