@page "{searchString?}"
@model wtamucis3312final.Pages.NationalParks.UserParkTrackerModel
@{
}

<h1>Parks Explored</h1>

<p>
    @* this will need to be changed to go to a page that lets the user add parks to their list *@
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        User Email: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Find" />
    </p>
</form>
@* <form method="post">
<div class="mb-3">
<label asp-for="enteredUserId" class="form-label">User ID</label>
<input asp-for="enteredUserId" class="form-control">
<div class="form-text">Please enter the User ID to view the parks visited.</div>
<span asp-validation-for="enteredUserId" class="text-danger"></span>

</div>
@* ModelOnly property to avoid unnecessary errors *@ @*
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<button type="submit" class="btn btn-primary">Submit</button>
</form> *@